<div class="wrapper">
	<div class="tags_in_use">
		<a href="/tags?query=<%= data['query']%>&page=<%= data['page'] %>">Return to browse</a>
		<h3>Tagged with</h3>
		<p class="tag-list">
			<% data['tags'].each do |atag| %>
				<a href="/tags?query=<%= atag[:name] %>"><%= atag[:display] %></a>
				<% if data['tags'].size > 1 %>
				<a class="command" href="/remove_tag?photo_id=<%= data['photo'][:id] %>&old_tag=<%= atag[:name] %>&query=<%= data['query'] %>&page<%= data['page'] %>">delete</a>
				<% end %>
				<br />
			<% end %>
		</p>
    <form action="/add_tags" accept-charset="UTF-8" method="post">
        <input type="hidden" name="id" id="ids" value="<%= data['photo'][:id] %>">
        <input type="hidden" name="query" value="<%= data['query'] %>">
        <input type="hidden" name="page" value="<%= data['page'] %>">
        <input type="text" name="new_tag" size="15" id="new_tag" autofocus>
        <input type="submit" name="commit" value="add" data-disable-with="add">
    </form>
    <br/>
		<a href="/full_size/<%= data['photo'][:filename] %>" target="_new">Full sized image</a>
	</div>
	<div class="photos_tagged">
		<img src="/medium/<%= data['photo'][:othername] %>"/>
	</div>
</div>
